.home {
    padding: 200px 80px ;
}

.input {
    width: 400px;
    border: 1px solid #000000;
    border-radius: 30px;
    height: 60px;
    padding: 16px 19px;
    box-sizing: border-box;
    background-image: url(../../Images/button.png);
    background-repeat: no-repeat;
    background-position: 352px;
    background-color: #C4C4C4;
}
.input::placeholder {
font-weight: 500;
color: #000000;
font-size: 14px;
line-height: 28px;
}


.title {
    font-size: 36px;
    font-weight: 500;
    line-height: 72px;
    color: black;
   margin: 0;
}

.block {
    display: flex;
    align-items: center;
    column-gap: 84px;
}

.img {
    max-width: 49vw; 
}

.subtitle {
    font-weight:  400;
    font-size: 18px;
    line-height: 36px;
}

@media (max-width: 1200px) {
  .input {
    width: 22vw;
    background-position: 17vw;
  }
}

@media (max-width: 1010px) {
    .home {
     padding: 200px 25px;
    }
 }
 
 @media (max-width: 755px) {
    .block {
        display: block;
    }
    .img {
        max-width: 100%;
    }
    .input {
        width: 300px;
        background-position: 252px;
      }
 }