.ideas {
    padding: 200px 80px 0 80px;
    box-sizing: border-box;
}

.title {
    font-size: 36px;
    font-weight: 500;
    line-height: 72px;
    color: black;
    margin: 0;
}

.block {
    display: flex;
    column-gap: 84px;
}

.img {
    max-width: 49vw;
}

.subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
}

.accordion {
    max-width: 650px;
    margin: 0 auto;
    border: none;
}

.accordion__heading {
    display: block;
    position: relative;
    cursor: pointer;
    padding: 10px 15px;
    margin: 0;
    background: transparent;
    color: black;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
}

.accordion__heading:after,
.accordion__heading:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 1px;
    top: 50%;
    right: 20px;
    background: black;
    transition: all 0.1s;
}

.accordion__checkbox:checked~.accordion__heading:before {
    transform: rotate(90deg);
    opacity: 0;
    transition: all 0.1s;
}

.accordion__heading:after {
    transform: rotate(90deg);
    transition: all 0.1s;
}

.accordion__checkbox:checked~.accordion__heading:after {
    transform: rotate(180deg);
}

.accordion__checkbox {
    display: none;
    position: absolute;
    left: -9999em;
}

.accordion__checkbox:checked~.accordion__content {
    max-height: 1000px;
    transition: all 2s;
}

.accordion__content {
    max-height: 0;
    overflow: hidden;
    padding: 0 15px;
    transition: all 0.5s;
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;
}



@media (max-width: 1451px) {
  .img {
    margin-top: 60px;
  }
}

@media (max-width: 1260px) {
    .img {
      margin-top: 170px;
    }
  }
  

@media (max-width: 1010px) {
    .ideas {
        padding: 200px 25px 0 25px;
    }
}


@media (max-width: 755px) {
    .block {
        display: block;
    }

    .img {
        max-width: 100%;
    }
}



