@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.container {
    font-family: 'Poppins';
    max-width: 1760px;
    margin: 0 auto;

}

a {
    text-decoration: none;
}

.dd, .ddFeedback {
    display: flex !important;
    position: absolute;
    bottom: 25px;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    z-index: 100;
}

.ddFeedback {
    bottom: -105px;
}
.dd li button , .ddFeedback li button  {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    outline: none;
    background: transparent;
}

.ddFeedback li button {
    border: 2px solid #C4C4C4; 
}
.dd li button:hover {
    background: white;
}

.ddFeedback li button:hover {
    background: #C4C4C4;
}

.dd li:not(:last-child), .ddFeedback li:not(:last-child) {
    margin-right: 20px;
}